*::before, *, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body{
    background-color: rgb(19, 19, 22);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    width: 100%;
    height: 100vh;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 500px;

    padding: 30px;
}

.box{
    background-color: rgb(41, 44, 44);
    border-radius: 3px;

    position: relative;

    font-family: 'Fira Code';
    
    width: 900px;
    max-width: 95%;
}
.footer{
    height: 90px;

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer a{
    text-decoration: none;
    color: rgba(240, 248, 255, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 25px;

    font-size: 12px;
    transition: 0.3s;

}

.footer a:hover,
.footer a:hover img{
    color: rgba(240, 248, 255, 0.296);
    transition: 0.3s;
    opacity: 90%;
}

.footer a img{
    transition: 0.3s;
    opacity: 30%;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
    min-height: 40px;

    margin-bottom: 2px;
}

.container header{
    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    color: aliceblue;
    
    position: relative;

    font-size: 15px;
}

.container header span:nth-child(2){
    color: rgb(184, 77, 112);
}
.container header span:nth-child(3){
    color: rgb(77, 164, 184);
    cursor: pointer;
}
.container header span:nth-child(3):hover{
    color: rgb(45, 101, 114);
    cursor: pointer;
}
.container header span:nth-child(4){
    color: rgb(77, 184, 98);
}

.line{
    width: 90%;
    height: 1px;
    background-color: rgb(61, 65, 65);

    margin: 20px 0 20px 0;

    position: relative;
}

.container label{
    color: aliceblue;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.container input{
    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.116);
    border-radius: 4px;

    text-align: center;

    padding: 9px 15px 9px 15px;
    outline: none;

    color: rgba(240, 248, 255, 0.686);
}

.container button{
    margin-top: 30px;
    padding: 12px 35px 12px 35px;

    background-color: rgba(181, 181, 181, 0);
    border: 1px solid rgb(184, 77, 112);
    box-shadow: 0 0 19px rgba(184, 77, 113, 0.247);
    color: rgb(184, 77, 112);

    font-family: 'Fira Code';

    cursor: pointer;

    border-radius: 3px;
}
